*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.video-cont{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.video-stream{
    width: 100%;
    height: 100%;
}

.controls-cont{
    width: 10rem;
    height: 15rem;
    /* background-color: brown;*/
    position: absolute;
    top: calc(( 100vh - 10rem ) / 2);
    right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    z-index: 2;
}

.controls-cont > *{
    background-color: black;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.record-btn{
    height: 3rem;
    background-color: red;
    width: 3rem;
    border-radius: 50%;
}

.capture-btn{
    height: 3rem;
    background-color: white;
    width: 3rem;
    border-radius: 50%;
}

.scale-record-btn{
    animation-name: scale-record-btn;
    /*how many times we want to perform animation*/
    animation-iteration-count: infinite;
    /*duration between two animations*/
    animation-duration: 1s;
}

@keyframes scale-record-btn{
    /* when the animation just started do this*/
    0%{
        transform: scale(0.7);
    }

    /*when the animation is complete do this*/
    100%{
        transform: scale(1.1);
    }
}

.scale-capture-btn{
    animation-name: scale-capture-btn;
    /*how many times we want to perform animation*/
    animation-iteration-count: 1;
    /*duration between two animations*/
    animation-duration: 1s;
}

@keyframes scale-capture-btn{
    /* when the animation just started do this*/
    0%{
        transform: scale(0.7);
    }

    /*when the animation is complete do this*/
    100%{
        transform: scale(1.1);
    }
}

.timer-cont{
    /* display: none; */
    width: 5rem;
    height: 5rem;
    color: cyan;
    font-size: 1rem;
    position: absolute;
    bottom: 10rem;
    left: 2rem;
    z-index: 2;
}

.filters-cont{
    width: 4rem;
    height: 16rem;
    background-color: darkgray;
    position: absolute;
    top: 10rem;
    left: 2rem;
    z-index: 2;
}

.filters-cont > *{
    width: 100%;
    height: 4rem;
    background-color: darkorange;
    background-image: url(https://picsum.photos/seed/picsum/200/300);
    background-position: center center;
    background-size: 100% 100%;
    background-blend-mode: multiply;
}

.orange{
    background-color: #ff8c006b;
}

.brown{
    background-color: #a52a2aad;
}

.pink{
    background-color: rgba(255, 192, 203, 0.555);
}

.transparent{
    background-color: transparent;
}

.img-filter{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}